<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Project Recipe"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_Recipe"
        tools:targetApi="31">
        <activity
            android:name=".RecipeDisplayer"
            android:exported="false" />
        <activity
            android:name=".memoryGame"
            android:exported="false" />
        <activity
            android:name=".SearchByIngredients"
            android:exported="false" />
        <activity
            android:name=".Favorites"
            android:exported="false" />
        <activity
            android:name=".ProgramFlow"
            android:exported="false" />
        <activity
            android:name=".UML"
            android:exported="false" />
        <activity
            android:name=".SearchRecipes"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".CreateNewAccount"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>